* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e3f2fd; /* Açık mavi arka plan */
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    height: auto;
  }
  
  .navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1e3a8a; /* Lacivert mavi */
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  .navLink:hover {
    background-color: #f5b753; /* Soft yeşil */
    color: #1a2e05;
    border: 1px solid #f5b753;
    transform: scale(1.05);
  }
  
  .nav-source {
    display: flex;
    gap: 0.5rem;
  }
  .chat-container {
    max-width: 600px;
    margin: 40px auto;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .chat-box {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message {
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 12px;
    line-height: 1.4;
    white-space: pre-line;
  }
  
  .user {
    align-self: flex-end;
    background-color: #d1e7dd;
  }
  
  .bot {
    align-self: flex-start;
    background-color: #8fc718;
  }
  
  .input-area {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  textarea {
    flex: 1;
    height: 60px;
    resize: none;
    border-radius: 8px;
    padding: 10px;
  }
  
  button {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #0a9b33;
    color: white;
    border: none;
    cursor: pointer;
  }
  .patch-notes{
    /* text-align: center; */
  }
  .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  
    .navLink {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
  